body {
	background: #5433FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: roboto;
}

h1 {
	margin: 0;
	padding: 10px 20px;
	background-color: #2980b9;
	color: white;
	font-size: 24px;
	font-weight: normal;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: none;
} 

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	height: 40px;
	line-height: 40px;
	background-color: white; 
	color: #666;
}

span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

input:focus {
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
}



li:nth-child(2n) {
	background-color: #f7f7f7;
}



li:hover span {
	width: 40px;
	opacity: 1;
}

#container {
	box-shadow: 0 0 3px rgba(0, 0 , 0, 0.1);
	background-color: #f7f7f7;
	width: 360px;
	margin: 100px auto; 
}

.selected {
	color: grey;
	text-decoration: line-through;
}

.fa-plus {
	float: right;
}








